@using DemoWeb.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DemoWeb.Models.BookModel>
@{ 
  string name_sort = @ViewData["NameSortParm"].ToString();
  string price_sort = @ViewData["PriceSortParm"].ToString();
  string search_txt = @ViewBag.SearchTxt ?? "";      
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <script src="~/js/site.min.js" asp-append-version="true" ></script>
        <script>
            $(function(){
                $(".delete").on("click",function(e){
                     var $self = $(this);
                     var id = $self.data("id") || "";
                     if(id!==""){
                         if(confirm("確定是否刪除")){
                            var url = '@Url.Action("Delete")';
                            $.ajax({
                               type :'Post',
                               url : url,
                               data:{id:id},
                               success :function(res){
                                   if(res =="Y"){
                                     alert("刪除成功");
                                     location.reload();
                                   }
                                   else{
                                       alert("刪除失敗");
                                   }
                               },
                               error :function(xhr,res){
                                   alert("刪除失敗");
                               }
                             }
                            );
                         }
                     }
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
             <div class="row">
                <div class="pull-rigth">
                    <a asp-action="Create">新增</a>
                </div>
             </div>
              <div class="row">
                   <div class="col-md-6">
                        <form action="@Url.Action("Index")" method="get" class="form-horizontal">
                            <div class="input-group">
                                <label for="BookName" class="control-label">書名:</label>
                                <input type="text" name="searchStr" class="form-control" value="@search_txt">
                                <span class="input-group-btn">
                                        <input class="btn btn-default" type="submit" value="Search">
                                </span>
                            </div>
                        </form>
                  </div>
              </div>
                <div class="row">
                  <table class="table table-bordered table-hover">
                      <thead>
                          <tr>
                                <th><a asp-action="Index"  asp-route-sortOrder='@name_sort'>書名</a></th>
                                <th>作者</th>
                                <th>出版社</th>
                                <th><a asp-action="Index"  asp-route-sortOrder="@price_sort">價格</a></th>  
                                <th></th>
                            </tr>
                      </thead>
                      <tbody>
                           @foreach (var item in Model)
                            { 
                                <tr>
                                    <td>@Html.DisplayFor(m => item.BookName)</td>
                                    <td>@Html.DisplayFor(m => item.Author)</td>
                                    <td>@Html.DisplayFor(m => item.PublishingHouse)</td>
                                    <td>@Html.DisplayFor(m => item.Price)</td>
                                    <td>
                                       @Html.ActionLink("修改","Update","Book",new{id=@item.Id})
                                       <a href="#" data-id =@item.Id class="delete">刪除</a>
                                    </td>
                                </tr>
                            }
                      </tbody>
                  </table>
             </div>
        </div>
    </body>
</html>