@using DemoWeb.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DemoWeb.Models.BookModel;
<html>
   <head>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <script src="~/js/site.min.js" asp-append-version="true" ></script>
   </head>
    <body>
       <div class="container">
        <form action="@Url.Action("Update")" method="Post" class="form-horizontal" role="form">
          @Html.HiddenFor(x=>x.Id)
                <h1>修改</h1>
                <div class="form-group">
                        <label class="col-md-2 control-label" for="BookName">@Html.DisplayNameFor(x=>x.BookName)</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x=>x.BookName,new {@class="form-control"})
                        </div>
               </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Author">@Html.DisplayNameFor(x=>x.Author)</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x=>x.Author,new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="PublishingHouse" class="col-md-2 control-label">@Html.DisplayNameFor(x=>x.PublishingHouse)</label>
                    <div class="col-md-10">
                       @Html.TextBoxFor(x=>x.PublishingHouse,new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <label for="Price" class="col-md-2 control-label" >@Html.DisplayNameFor(x=>x.Price)</label>
                    <div class="col-md-10">
                         @Html.TextBoxFor(x=>x.Price,new {@class="form-control"})
                    </div>
                </div>
                <div class="col-md-10">
                    <div style="float:right">
                        <button class="btn btn-info btn-sm">修改</button>
                    </div>
                </div>
         </form>
       </div>
    </body>
</html>